# Default ignored files
/.idea.New Unity Project3D Beginner Tutorial Resources/.idea/workspace.xml
/.idea.Assembly-CSharp-Editor.dir/.idea/workspace.xml
/.idea.Unity3D Beginner Tutorial/.idea/workspace.xml
